<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" th:href="@{/students}">Student Management System</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/students}">Student Management</a>
        </li>
       
       
      
    </div>
  </div>
</nav>
<br> <br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center">
            <h1 class="text-center">Create New Student</h1>
            <div class="card-body">
                <form th:action="@{/students}" th:object="${student}" method="POST">
                    <div class="form-group">
                        <label>Student First Name</label>
                        <input type="text"
                               name="firstName"
                               th:field="*{firstName}"
                               class="form-control"
                               placeholder="Enter First Name"/>
                    </div><br>

                    <div class="form-group">
                        <label>Student Last Name</label>
                        <input type="text"
                               name="lastName"
                               th:field="*{lastName}"
                               class="form-control"
                               placeholder="Enter Last Name"/>
                    </div><br>

                    <div class="form-group">
                        <label>Student Email</label>
                        <input type="email"
                               name="email"
                               th:field="*{email}"
                               class="form-control"
                               placeholder="Enter Student Email"/>
                    </div>
			<br>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
